.icon-wpb-application-icon-large {
  background-image: url('../images/old-school-icons/element-icon-post-grid.svg');
}

.icon-wpb-application-plus {
  background-image: url('../images/old-school-icons/element-icon-google-plus.svg');
}

.vc_add-element-container .icon-wpb-balloon-facebook-left {
  background-image: url('../images/old-school-icons/element-icon-facebook.svg');
}

.icon-wpb-balloon-twitter-left {
  background-image: url('../images/old-school-icons/element-icon-x.svg');
}

.icon-wpb-film-youtube {
  background-image: url('../images/old-school-icons/element-icon-video.svg');
}

.icon-wpb-images-stack {
  background-image: url('../images/old-school-icons/element-icon-image-gallery.svg');
}

.icon-wpb-information-white {
  background-image: url('../images/old-school-icons/element-icon-message-box.svg');
}

.icon-wpb-layer-shape-text {
  background-image: url('../images/old-school-icons/element-icon-text-block.svg');
}

.icon-wpb-layout_sidebar {
  background-image: url('../images/old-school-icons/element-icon-widget-sidebar.svg');
}

.icon-wpb-map-pin {
  background-image: url('../images/old-school-icons/element-icon-google-maps.svg');
}

.icon-wpb-slideshow {
  background-image: url('../images/old-school-icons/element-icon-posts-slider-2.svg');
}

.icon-wpb-toggle-small-expand {
  background-image: url('../images/old-school-icons/element-icon-faq-toggle.svg');
}

.icon-wpb-ui-accordion, .icon-wpb-ui-accordion[data-is-container="true"] {
  background-image: url('../images/old-school-icons/element-icon-accordion.svg');
}

.icon-wpb-ui-button {
  background-image: url('../images/old-school-icons/element-icon-button.svg');
}

.icon-wpb-ui-separator-label {
  background-image: url('../images/old-school-icons/element-icon-separator-with-text.svg');
}

.icon-wpb-ui-separator {
  background-image: url('../images/old-school-icons/element-icon-separator.svg');
}

.icon-wpb-ui-tab-content, .icon-wpb-ui-tab-content[data-is-container="true"] {
  background-image: url('../images/old-school-icons/element-icon-tabs.svg');
}

.icon-wpb-ui-tab-content-vertical, .icon-wpb-ui-tab-content-vertical[data-is-container="true"] {
  background-image: url('../images/old-school-icons/element-icon-tour.svg');
}

.icon-wpb-ui-pageable, .icon-wpb-ui-pageable[data-is-container="true"] {
  background-image: url('../images/old-school-icons/element-icon-pageable-container.svg');
}

.icon-wpb-tta-toggle[data-is-container="true"] {
  background-image: url('../images/old-school-icons/element-icon-tta-toggle.svg');
}

.icon-wpb-pinterest {
  background-image: url('../images/old-school-icons/element-icon-pinterest.svg');
}

.icon-wpb-tweetme {
  background-image: url('../images/old-school-icons/element-icon-x.svg');
}

.icon-wpb-single-image {
  background-image: url('../images/old-school-icons/element-icon-single-image.svg');
}

.icon-wpb-call-to-action {
  background-image: url('../images/old-school-icons/element-icon-cta.svg');
}

.icon-wpb-pricing-table {
  background-image: url('../images/old-school-icons/element-icon-pricing-table.svg');
}

.icon-wpb-raw-html {
  background-image: url('../images/old-school-icons/element-icon-raw-html.svg');
}

.icon-wpb-raw-javascript {
  background-image: url('../images/old-school-icons/element-icon-raw-js.svg');
}

.icon-wpb-flickr {
  background-image: url('../images/old-school-icons/element-icon-flickr.svg');
}

.icon-wpb-graph {
  background-image: url('../images/old-school-icons/element-icon-progress-bar.svg');
}

.icon-wpb-wp {
  background-image: url('../images/old-school-icons/element-icon-wordpress.svg');
}

.icon-wpb-vc_pie {
  background-image: url('../images/old-school-icons/element-icon-pie-chart.svg');
}

.icon-wpb-images-carousel {
  background-image: url('../images/old-school-icons/element-icon-image-carousel.svg');
}

.icon-wpb-row, .icon-wpb-row[data-is-container="true"] {
  background-image: url('../images/old-school-icons/element-icon-row.svg');
}

.icon-wpb-ui-empty_space {
  background-image: url('../images/old-school-icons/element-icon-empty-space.svg');
}

.icon-wpb-atm {
  background-image: url('../images/old-school-icons/element-icon-my-shortcode.svg');
}

.icon-wpb-ui-custom_heading {
  background-image: url('../images/old-school-icons/element-icon-google-fonts.svg');
}

.icon-wpb-woocommerce {
  background-image: url('../images/old-school-icons/element-icon-woo-commerce.svg');
}

.icon-wpb-ninjaforms {
  background-image: url('../images/old-school-icons/element-icon-ninja-forms.svg');
}

.icon-wpb-vc_icon {
  background-image: url('../images/old-school-icons/element-icon-icon.svg');
}

.vc_icon-vc-gitem-post-excerpt {
  background-image: url('../images/old-school-icons/element-icon-excerpt.svg');
}

.vc_icon-vc-gitem-image {
  // Image in post grid builder
  background-image: url('../images/old-school-icons/element-icon-single-image.svg');
}

.vc_icon-acf {
  background-image: url('../images/old-school-icons/element-icon-acf.svg');
}

.vc_icon-vc-gitem-post-date {
  background-image: url('../images/old-school-icons/element-icon-post-date.svg');
}

.vc_icon-vc-gitem-post-meta {
  background-image: url('../images/old-school-icons/element-icon-custom-fields.svg');
}

.vc_icon-vc-gitem-post-title {
  background-image: url('../images/old-school-icons/element-icon-post-title.svg');
}

.vc_icon-vc-media-grid {
  background-image: url('../images/old-school-icons/element-icon-media-grid.svg');
}

.vc_icon-vc-masonry-media-grid {
  background-image: url('../images/old-school-icons/element-icon-media-masonry-grid.svg');
}

.vc_icon-vc-masonry-grid {
  background-image: url('../images/old-school-icons/element-icon-post-masonry-grid.svg');
}

.icon-wpb-vc-round-chart {
  background-image: url('../images/old-school-icons/element-icon-doughnut-chart.svg');
}

.icon-wpb-vc-line-chart {
  background-image: url('../images/old-school-icons/element-icon-line-chart.svg');
}

.icon-wpb-ui-tta-section, .icon-wpb-ui-tta-section[data-is-container="true"] {
  background-image: url('../images/old-school-icons/element-icon-accordion.svg');
}

.vc_icon-vc-gitem-post-author {
  background-image: url('../images/old-school-icons/element-icon-post-author.svg');
}

.vc_icon-vc-gitem-post-categories {
  background-image: url('../images/old-school-icons/element-icon-category.svg');
}

.vc_icon-vc-section, .vc_icon-vc-section[data-is-container="true"] {
  background-image: url('../images/old-school-icons/element-icon-section.svg');
}

.vc_icon-vc-zigzag {
  background-image: url('../images/old-school-icons/element-icon-separator-zig-zag.svg');
}

.vc_icon-vc-hoverbox {
  background-image: url('../images/old-school-icons/element-icon-hover-box.svg');
}

.vc_icon-vc-gutenberg {
  background-image: url('../images/old-school-icons/element-icon-gutenberg.svg');
}

.vc_ui-panel-content-container .vc_add-element-container .wpb-elements-list {
  padding: 18px;
}

.vc_ui-panel-content-container .vc_add-element-container .wpb-content-layouts {
  display: block;
}

.vc_ui-panel-content-container .vc_add-element-container .wpb-content-layouts li {
  background: none repeat scroll 0 0 #F5F5F5;
  border: 1px solid #faf9f9;
  padding: 0 0 2px 2px;
  border-radius: 0;
  float: left;
  height: 70px;
  transition: none;
}

.vc_ui-panel-content-container .vc_add-element-container .wpb-content-layouts li:hover  {
  border-color: #00aef0;
  background: #F0F0F1;
}

.vc_ui-panel-content-container .vc_add-element-container .wpb-content-layouts li .vc_el-container {
  display: table;
  height: 69px;
  width: 100%;
}

.vc_ui-panel-content-container .vc_add-element-container .wpb-content-layouts a {
  display: table-cell;
  line-height: 14px;
  padding: 2px 4px 2px 47px;
  vertical-align: middle;
  font-weight: 600;
  text-align: -webkit-match-parent;
}

.vc_ui-panel-content-container .vc_add-element-container .wpb-content-layouts a .vc_element-description {
  text-align: left;
  display: block;
  position: relative;
  background-color: transparent;
  top: auto;
  left: auto;
  width: auto;
  height: auto;
  font-size: 11px;
  font-style: normal;
  font-weight: normal;
  margin-top: 3px;
  color: #999999;
}

.vc_ui-panel-content-container .vc_add-element-container .vc_element-icon {
  position: absolute;
  top: 20px;
  left: 8px;
  margin-bottom: 0;
}
